* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header,
footer {
    background-color: #f8f8f8;
    padding: 20px;
    text-align: center;
}

header {
    flex-shrink: 0;
}

main {
    flex-grow: 1;
    padding: 20px;
}

footer {
    flex-shrink: 0;
}

a {
    text-decoration: none;
}

.background{
    background-color: #f8f8f8;
}