<footer>
    <div class="max-width-footer footer">
        <img class="logo" src="" alt="" />

        <div class="contact">
            <h2>Kontakt</h2>
            Besstel App <br />
            Borkumstr. 3 <br />
            49696 Molbergen
        </div>

        <div class="max-width-footer">
            <div>
                <a href="../pages/datenschutzerklaerung.html">Datenschutz</a
                >
                |
                <a href="../pages/impressum.html">Impressum</a>
            </div>
        </div>
    </div>
</footer>
