<header class="flex content-between p-6">
    <div class="flex content-center items-center flex-row gap-6">
        <div>
            <a href="./index.html"><img class="h-14 " src="../assets/logo/pokedex.png" alt="pokedex"/></a>
        </div>
        <div class="">
            <a href="./index.html"><h1 class="text-3xl"></h1></a>
        </div>
        <!-- <nav>
            <a href="index.html">Start</a>
            <a href="impressum.html">Impressum</a>
        </nav> -->
    </div>
</header>
